<h1>
  coches works!
</h1>
<form #formCoche="ngForm" (ngSubmit)="onSubmit()">
  <p>
    <label>Nombre</label>
    <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="coche.nombre" required>
    <samp *ngIf="nombre.touched && !nombre.valid">
      El nombre del coche es incorrecto!!
    </samp>
  </p>
  <p>
    <label>Caballaje</label>
    <input type="text" name="caballaje" #caballaje="ngModel" [(ngModel)]="coche.caballaje" required pattern="[0-9]+">
    <samp *ngIf="caballaje.touched && !caballaje.valid">
      El caballaje del coche es incorrecto!!
    </samp>
  </p>
  <p>
    <label>Color</label>
    <input type="text" name="color" #color="ngModel" [(ngModel)]="coche.color" required pattern="[a-zA-Z]+">
    <samp *ngIf="color.touched && !color.valid">
      El color del coche es incorrecto!!
    </samp>
  </p>
  <p>
    <input type="submit" value="Guardar">
  </p>

</form>