<h1>{{tituloEmpleado}}</h1>
<strong>Empleado estrella</strong>
<br>
<br>
<h3>Selector de colores</h3>
<button (click)="logColorSeleccionado()">Color seleccionado</button>
<input type="text" [(ngModel)]="color_seleccionado" />
<pre 
[style.border]="color_seleccionado=='red' ? '5px solid black' : '1px solid blue'"
[ngClass]="{
           fondoAzul:   color_seleccionado=='blue',
           fondoVerde:   color_seleccionado=='green'
          }"
>
  Color elegido {{color_seleccionado}}</pre>
<div [ngStyle]="{
  'background':color_seleccionado, 
  'width':'200px',
  'height':'200px',
  'float':'right',
  'border-style':'solid',
  'margin-right':'71%'
}">
</div>
<div style="clear: both"></div>
<br>
<br>
<hr>
<h3>Colores switch</h3>
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'red'" [ngStyle]="{
    'background':color, 
    'color':'gray',
    'padding':'20px',
    'border-style':'solid' }">
    Es de color ROJO</li>
  <li *ngSwitchCase="'green'" [ngStyle]="{
    'background':color, 
    'color':'gray',
    'padding':'20px',
    'border-style':'solid'}">
    Es de color VERDE</li>
  <li *ngSwitchCase="'blue'" [ngStyle]="{
    'background':color, 
    'color':'gray',
    'padding':'20px',
    'border-style':'solid'}">
    Es de color AZUL</li>
</ul>
<hr>
<br>
<br>
<div *ngIf="trabajador_externo== true">
  <button (click)="cambiarTrabajadorExterno(false)">Mostrar empleado</button>
  <ul>
    <li>{{trabajadores[1].nombre}}</li>
    <li>{{trabajadores[1].edad}}</li>
    <li>{{trabajadores[1].cargo}}</li>
    <li *ngIf="trabajadores[1].contratado==true">Esta contratado</li>
    <li *ngIf="trabajadores[1].contratado==false">No Esta contratado</li>
  </ul>
</div>
<div *ngIf="trabajador_externo== false">
  <button (click)="cambiarTrabajadorExterno(true)">Mostrar trabajador</button>
  <ul>
    <li>{{empleado.nombre}}</li>
    <li>{{empleado.edad}}</li>
    <li>{{empleado.cargo}}</li>
    <li *ngIf="empleado.contratado==true">Esta contratado</li>
    <li *ngIf="empleado.contratado==false">No Esta contratado</li>
  </ul>
</div>
<hr>
<h3>Listado de empleados</h3>
<ul>
  <li *ngFor="let empleado of trabajadores;let i=index">
    <strong> Empleado {{i+1}}:</strong>
    <ul>
      <li>{{empleado.nombre}}</li>
      <li>{{empleado.edad}}</li>
      <li>{{empleado.cargo}}</li>
      <li *ngIf="empleado.contratado==true">Esta contratado</li>
      <li *ngIf="empleado.contratado==false">No Esta contratado</li>
    </ul>
  </li>
</ul>
<hr>